var path = require('path');

exports.conf = {
  nick: 'treslekbot',
  host: 'irc.freenode.net',
  ircOptions: {
    port: 6667,
    channels: ['##treslek'],
    userName: 'treslekbot',
    realName: 'treslekbot',
    autoConnect: false,
    floodProtection: true,
    floodProtectionDelay: 100
  },
  ignored: ['doslek'],
  commandPrefix: '!',
  redis: {
    host: '127.0.0.1',
    port: '6379',
    prefix: 'treslek'
  },
  topics: {
    separator: '::',
    prefixes: {
      '##treslek': 'Treslek'
    }
  },
  webhook: {
    host: '0.0.0.0',
    port: '1304',
    channelKey: 'webhookChannels'
  },
  logstash: {
    host: 'localhost',
    port: 9999
  },
  admins: ['jirwin', 'morgabra'],
  plugins: [],
  plugins_dir: path.resolve(__dirname, "plugins")
}
